* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}

body {
  min-height: 100vh;
  background-image: url("./one.jpg");
  background-size: cover;
  background-position: center;
  background-color: red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 2%;
  box-shadow: 0 5px 10px black;
  z-index: 1000;
}

header .logo {
  font-size: 1.8rem;
  font-weight: bolder;
}

header .logo span{
    color: rgb(0, 255, 0);
}

/* my own */
/* header .nav-bar ul {
  display: flex;
} */

/* youtube */
header .nav-bar ul li {
  position: relative;
  float: left;
}

header .nav-bar ul li a {
  font-size: 1.4rem;
  padding: 2rem;
  display: block;
  color: #333;
}

header .nav-bar ul li a:hover {
  background-color: #333;
  color: #fff;
}

header .nav-bar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: rgba(128, 128, 128, 0.5);
  display: none;
}

header .nav-bar ul li ul li {
  width: 100%;
  border: 1px solid black;
}

header .nav-bar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .nav-bar ul li:focus-within > ul,
header .nav-bar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 1.4rem;
  color: #333;
  cursor: pointer;
  display: none;
}

@media (max-width: 1090px) {
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .nav-bar {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #000;
    display: none;
  }

  header .nav-bar ul li {
    width: 100%;
  }

  header .nav-bar ul li ul {
    position: relative;
    width: 100%;
  }

  header .nav-bar ul li ul li {
    background-color: rgba(128, 128, 128, 0.1);
  }

  header .nav-bar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  #menu-bar:checked ~ .nav-bar {
    display: initial;
  }
}
